# PYcharm
.idea/

# visual studio code
.vscode/

# Python
*.pyc


# allure report
allure_report/
report/

# http_result file
http_result/

# temp generate file
temp/
tmp/

# download folder
# download/

# log
*.log
plain.output
*.png

# venv
venv/

# ignore config.py, everyone need to generate self owned config.py based on config_template.py
config.py